<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NationIO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
    <header>
        <nav class="nav-bar">
            <h1 class="title">NationIO</h1>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('new_game') }}">Play</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}


    <footer>
        <p>&copy; 2026 NationIO. All rights reserved.</p>
    </footer>
</body>

</html>