{% extends 'base.html' %}

{% block content %}
<div class="game-container">
    {% if game_instance.timer %}
    <div class="timer">
        <p id="time_remaining">{{ game_instance.timer }}</p>
    </div>
    {% endif %}
    {% if game_instance.hint_names[game_instance.current_hint] == 'Flag' %}
    <h1>Current Hint | {{ game_instance.hint_names[game_instance.current_hint] }}:</h1>
    <img src="{{ game_instance.hints[game_instance.rounds_played -1]['Flag'] }}" alt="">
    {% else %}
    <h1>
        Current Hint | {{ game_instance.hint_names[game_instance.current_hint] }}:
        {{ game_instance.hints[game_instance.rounds_played -1][game_instance.hint_names[game_instance.current_hint]]}}
    </h1>
    {% endif %}
    <div class="shown-hints">
        {% for hint in game_instance.shown_hints %}
        {% if 'Flag' in hint %}
        <img src="{{ game_instance.hints[game_instance.rounds_played -1]['Flag'] }}" alt="">
        {% else %}
        <p>{{ hint }}</p>
        {% endif %}
        {% endfor %}
    </div>
    <p>Score: {{ game_instance.score }} | Round: {{ game_instance.rounds_played }}</p>

    <div class="form-actions">
        <form action="/game/guess" method="post">
            <input type="text" id="guess" name="guess" class="guess-input" placeholder="Guess the country"
                autocomplete="off" required>
            <button type="submit">Guess</button>
        </form>

        <form action="/game/next-hint" method="POST">
            <button type="submit">Next Hint</button>
        </form>
    </div>
    <div class="autocomplete-container">
        <div id="autocomplete-results" class="autocomplete-results">

        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const AUTOCOMPLETE_URL = "{{ url_for('static', filename='scripts/autocomplete.json') }}";
</script>
<script src="{{ url_for('static', filename='scripts/autocomplete.js') }}"></script>
<script>
    setInterval(() => {
        let timerElement = document.getElementById('time_remaining');
        var timer = parseInt(timerElement.innerText)
        timer -= 1
        timerElement.innerText = timer
    }, 1000);
</script>
{% endblock %}